{erl_opts, [debug_info, {parse_transform, lager_transform},
    {parse_transform, statsderl_transform} ]}.
{deps, [
       {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.2"}}},
       {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.8"}}},
       {lager, {git, "https://github.com/basho/lager.git", {tag, "3.0.2"}}},
       {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "3.1.1"}}},
       {pgapp, {git, "https://github.com/epgsql/pgapp.git", "master"}},
       {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
       {gen_smtp, {git, "https://github.com/Vagabond/gen_smtp.git",
           {tag, "0.10.0"}}},
       {statsderl, {git, "https://github.com/lpgauth/statsderl.git",
           {tag, "0.5.0"}}}
       ]
}.
{overrides,
 [{override, jiffy, [
     {plugins, [
         {pc, {git, "git@github.com:blt/port_compiler.git", {branch, "master"}}}
     ]},

     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.

{relx, [{release, {'ct_advisor', "0.1.0"},
         ['ct_advisor',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {overlay, [{mkdir, "priv"}, {copy, "priv/credentials.rr", "priv/"} ]},
        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
